@{
    ViewBag.Title = "Sobre";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>

</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Visite <a href="http://codifica208.com.br/blog/" target="_blank">www.codifica208.com.br/blog</a>  para conhecer mais assuntos de ASP.NET.</p>
    </div>
</div>